@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

@font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-SemiBold";
                          src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
                        }
                        
.iphone11 {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 896px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(18, 18, 18, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.iphone11 .landingbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 517px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .landingbg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 517px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .landingbg .landingbg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 517px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.39;
}
.iphone11 .rectangle {
  background-color    : rgba(3, 218, 198, 1.0);
  top                 : 397px;
  height              : 51px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11 .rectangle:hover {
  transform           : scale(1.1);
}
.iphone11 .rectangle1 {
  background-color    : rgba(187, 134, 252, 1.0);
  top                 : 545px;
  height              : 82px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 561px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .a55240 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 51px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .loginup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 404px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.iphone11 .loginup:hover {
  transform           : scale(1.1);
}
.iphone11 .signupwithfaceboo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 456px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.iphone11 .armangokdemir {
  background-color    : rgba(255,255,255,0.0);
  top                 : 555px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.iphone11 .marathonrunner15km {
  background-color    : rgba(255,255,255,0.0);
  top                 : 594px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.iphone11 .rectanglecopy {
  background-color    : rgba(55, 0, 179, 1.0);
  top                 : 655px;
  height              : 82px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 671px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .takeshikovacs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 665px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.iphone11 .a2019worldironman2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 704px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.iphone11 .rectanglecopy2 {
  background-color    : rgba(3, 218, 198, 1.0);
  top                 : 758px;
  height              : 82px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 774px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11 .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 768px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.iphone11 .usaolympiadathlete {
  background-color    : rgba(255,255,255,0.0);
  top                 : 807px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.iphone11 .thisapplicationuse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 506px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}