@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

@font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-SemiBold";
                          src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
                        }
                        
.iphone11copy2 {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 896px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(18, 18, 18, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.iphone11copy2 .lysanderyuenlkantqplewunsplash {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 174px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy2 .lysanderyuenlkantqplewunsplash .mask {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 174px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy2 .lysanderyuenlkantqplewunsplash .lysanderyuenlkantqplewunsplash1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -245px;
  height              : 621px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.53;
}
.iphone11copy2 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 243px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy2 .a62834copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : 104px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy2 .rectanglecopy3 {
  background-color    : rgba(187, 134, 252, 1.0);
  top                 : 227px;
  height              : 82px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy2 .addnewalarm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 253px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.iphone11copy2 .a16909 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 250px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy2 .ovalcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 61px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy2 .ovalcopy5:hover {
  transform           : scale(0.9);
}
.iphone11copy2 .a14720copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy2 .a14720copy:hover {
  transform           : scale(0.9);
}
.iphone11copy2 .rectanglecopy31 {
  background-color    : rgba(55, 0, 179, 1.0);
  top                 : 362px;
  height              : 132px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy2 .rectanglecopy31:hover {
  transform           : scale(1.1);
}
.iphone11copy2 .rectanglecopy32 {
  background-color    : rgba(3, 218, 198, 1.0);
  top                 : 547px;
  height              : 132px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy2 .rectanglecopy32:hover {
  transform           : scale(1.1);
}
.iphone11copy2 .addtime {
  background-color    : rgba(255,255,255,0.0);
  top                 : 409px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 169px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.iphone11copy2 .addtime:hover {
  transform           : scale(1.1);
}
.iphone11copy2 .a16909copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 411px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy2 .a16909copy:hover {
  transform           : scale(1.1);
}
.iphone11copy2 .addkm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 594px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 181px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.iphone11copy2 .addkm:hover {
  transform           : scale(1.1);
}
.iphone11copy2 .a16909copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 596px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy2 .a16909copy2:hover {
  transform           : scale(1.1);
}
.iphone11copy2 .rectanglecopy33 {
  background-color    : rgba(187, 134, 252, 1.0);
  top                 : 720px;
  height              : 132px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy2 .rectanglecopy33:hover {
  transform           : scale(1.1);
}
.iphone11copy2 .addcal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 767px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.iphone11copy2 .addcal:hover {
  transform           : scale(1.1);
}
.iphone11copy2 .a16909copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 769px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy2 .a16909copy3:hover {
  transform           : scale(1.1);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}