@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

@font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-SemiBold";
                          src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
                        }
                        
.iphone11copy {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 896px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(18, 18, 18, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.iphone11copy .mapjpeg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 466px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 61px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 61px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 335px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy .ovalcopy:hover {
  transform           : scale(0.9);
}
.iphone11copy .a14720 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .a62834 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 350px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.iphone11copy .a62834:hover {
  transform           : scale(0.9);
}
.iphone11copy .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 165px;
  height              : 155px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 206px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 312px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 233px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 316px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .ovalcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 313px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .a58960 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 466px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .a66166 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 466px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .a167km {
  background-color    : rgba(255,255,255,0.0);
  top                 : 511px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.iphone11copy .a364cal800cal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 592px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.iphone11copy .a004711 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 511px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.iphone11copy .totaldistance {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.iphone11copy .caloriegoal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 626px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.iphone11copy .totaltime {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 292px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.iphone11copy .rectangle {
  background-color    : rgba(187, 134, 252, 1.0);
  top                 : 653px;
  height              : 20px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 653px;
  height              : 20px;
  width               : 159px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .a167km3km {
  background-color    : rgba(255,255,255,0.0);
  top                 : 682px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.iphone11copy .distancegoal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 716px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.iphone11copy .rectanglecopy {
  background-color    : rgba(55, 0, 179, 1.0);
  top                 : 743px;
  height              : 20px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 743px;
  height              : 20px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .rectangle3 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 795px;
  height              : 60px;
  width               : 364px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .juicy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 826px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 109px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.iphone11copy .thenotoriousbig {
  background-color    : rgba(255,255,255,0.0);
  top                 : 803px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 109px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.iphone11copy .ovalcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 799px;
  height              : 61px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .a27185 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 809px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .a64488 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 816px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 299px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.iphone11copy .a64488copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 816px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}